<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post" action="http://localhost:5173/login">
    <h2>LOGIN PAGE</h2><br>
    <h4>Enter username</h4><br>
    <input placeholder="Enter username" class="username"><br>
    <h4>Enter Password</h4><br>
    <input placeholder="Enter a strong password" type="password"><br>
    <button>Login</button><br>
    </form>
</body>
</html>